@model ClassLibrary.DtoModels.CondominiumDto

@{
    ViewData["Title"] = "Delete Condominium";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Delete Condominium</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Condominiums</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Delete</a></li>
                </ol>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Are you sure you want to delete this condominium?</h4>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-danger" role="alert">
                            <i class="fa fa-exclamation-triangle"></i> Deleting this condominium is a permanent action and cannot be undone.
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-6 mb-3">
                                <label class="form-label font-weight-bold">@Html.DisplayNameFor(model => model.CondoName)</label>
                                <p>@Html.DisplayFor(model => model.CondoName)</p>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label font-weight-bold">@Html.DisplayNameFor(model => model.Address)</label>
                                <p>@Html.DisplayFor(model => model.Address)</p>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label font-weight-bold">@Html.DisplayNameFor(model => model.CompanyId)</label>
                                <p>@Html.DisplayFor(model => model.Company.Name)</p>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label font-weight-bold">@Html.DisplayNameFor(model => model.ManagerUserId)</label>
                                @if (Model.ManagerUser == null)
                                {
                                    <p class="text-danger">No Manager Assigned</p>
                                }
                                else
                                {
                                    <p>@Html.DisplayFor(model => model.ManagerUser.FullName)</p>
                                }
                            </div>
                        </div>

                        <hr class="my-4" />

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <div class="d-flex justify-content-between">
                                <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>