@model ClassLibrary.DtoModels.UnitDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CondominiumDto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CondominiumDto.CondoName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Floor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Floor)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bedrooms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bedrooms)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Door)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Door)
        </dd>

        @if (Model.CondoMemberDtos != null && Model.CondoMemberDtos.Any())
        {
            <dt class="col-sm-2">
                Members
            </dt>
            <dd class="col-sm-10">
                <ul class="list-unstyled">
                    @foreach (var member in Model.CondoMemberDtos)
                    {
                        <li>@member.FullName (@member.Email)</li>
                    }
                </ul>
            </dd>
        }
    </dl>
</div>
<div>
    @if (ViewBag.CondominiumId != null && ViewBag.CondoName != null && ViewBag.ReturnUrl != null)
    {
        <a asp-action="@ViewBag.ReturnUrl" asp-route-condoId="@ViewBag.CondominiumId" asp-route-condoName="@ViewBag.CondoName" class="btn btn-outline-primary">Back to List</a>
    }

    else if (ViewBag.CondominiumId != null && ViewBag.CondoName != null)
    {
        <a asp-action="Index" asp-route-id="@ViewBag.CondominiumId" asp-route-condoName="@ViewBag.CondoName" class="btn btn-outline-primary">Back to List</a>
    }
    else if (ViewBag.MemberId != null)
    {
        <a asp-action="MemberUnits" asp-route-id="@ViewBag.MemberId" class="btn btn-outline-primary">Back to List</a>
    }

    else
    {
        <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
    }
</div>
