@model ClassLibrary.DtoModels.UnitDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Unit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CondominiumId" />

            @if (ViewBag.MemberId != null)
            {
                <input type="hidden" name="memberId" value="@ViewBag.MemberId" />
            }

            @if (ViewBag.CondominiumId != null && ViewBag.CondoName != null)
            {
                <input type="hidden" name="condoId" value="@ViewBag.CondominiumId" />
                <input type="hidden" name="condoName" value="@ViewBag.CondoName" />

            } 


            <div class="form-group">
                <label asp-for="Floor" class="control-label"></label>
                <input asp-for="Floor" class="form-control" />
                <span asp-validation-for="Floor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bedrooms" class="control-label"></label>
                <input asp-for="Bedrooms" class="form-control" />
                <span asp-validation-for="Bedrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Door" class="control-label"></label>
                <input asp-for="Door" class="form-control" />
                <span asp-validation-for="Door" class="text-danger"></span>
            </div>
            <div class="form-group">
    
               <input type="submit" value="Save" class="btn btn-success" />

                

                @if (ViewBag.CondominiumId != null && ViewBag.CondoName != null)
                {
                    <a asp-action="Index" asp-route-id="@ViewBag.CondominiumId" asp-route-condoName="@ViewBag.CondoName" class="btn btn-outline-primary">Back to List</a>
                }
                else if (ViewBag.MemberId != null)
                {
                    <a asp-action="MemberUnits" asp-route-id="@ViewBag.MemberId" class="btn btn-outline-primary">Back to List</a>
                }

                else
                {
                    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
                }
            </div>
        </form>
    </div>
</div>



