@model IEnumerable<ClassLibrary.DtoModels.UnitDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        @* Título e Breadcrumbs *@
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>
                        Units
                        @if (ViewBag.CondoName != null)
                        {
                            @: from @ViewBag.CondoName
                        }
                    </h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Units</a></li>
                </ol>
            </div>
        </div>

        @* Conteúdo da Tabela dentro de um Card *@
        <div class="row">
            <div class="col-xl-12 col-xxl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">List of Units</h4>
                        @if (ViewBag.CondominiumId != null && ViewBag.CondoName != null)
                        {
                            <div class="d-flex justify-content-end">
                                @if (this.User.IsInRole("CondoManager"))
                                {
                                    <a asp-action="Create" class="btn btn-success me-2" asp-route-condoId="@ViewBag.CondominiumId" asp-route-condoName="@ViewBag.CondoName">Add Unit</a>
                                }
                                <a asp-controller="Condominium" asp-action="Index" class="btn btn-outline-primary">Back to Condominiums</a>
                            </div>
                        }
                    </div>
                    <div class="card-body">
                        @if (Model == null || !Model.Any())
                        {
                            <p>No units found.</p>
                        }
                        else
                        {
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            @if (ViewBag.CondominiumId == null)
                                            {
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CondominiumDto)
                                                </th>
                                            }
                                            <th>@Html.DisplayNameFor(model => model.Floor)</th>
                                            <th>@Html.DisplayNameFor(model => model.Door)</th>
                                            <th>@Html.DisplayNameFor(model => model.Bedrooms)</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                @if (ViewBag.CondominiumId == null)
                                                {
                                                    <td>@Html.DisplayFor(modelItem => item.CondominiumDto.CondoName)</td>
                                                }
                                                <td>@Html.DisplayFor(modelItem => item.Floor)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Door)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Bedrooms)</td>
                                                <td>
                                                    @if (this.User.IsInRole("CondoManager"))
                                                    {
                                                        <a class="btn btn-outline-secondary me-2" asp-action="AssignMember" asp-route-id="@item.Id" asp-route-condoId="@ViewBag.CondominiumId" asp-route-condoName="@ViewBag.CondoName">Manage Members</a>
                                                        <a class="btn btn-outline-primary me-2" asp-action="Edit" asp-route-id="@item.Id" asp-route-condoId="@ViewBag.CondominiumId" asp-route-condoName="@ViewBag.CondoName">Edit</a>
                                                        <a class="btn btn-danger" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#deleteDialog" data-id="@item.Id">Delete</a>
                                                    }
                                                    <a class="btn btn-info ms-2" asp-action="Details" asp-route-id="@item.Id" asp-route-condoId="@ViewBag.CondominiumId" asp-route-condoName="@ViewBag.CondoName">Details</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="deleteDialog" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Unit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this unit?</p>
                <div id="delete-error-message" class="text-danger"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                <form id="deleteForm" method="post" asp-action="Delete">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="unitIdToDelete" name="id" />
                    <input type="hidden" name="condoId" value="@ViewBag.CondominiumId" />
                    <input type="hidden" name="condoName" value="@ViewBag.CondoName" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('a[data-bs-target="#deleteDialog"]').click(function () {
                var id = $(this).data('id');
                $('#unitIdToDelete').val(id);
                $('#delete-error-message').text('').hide();
            });
        });
    </script>
}