@model IEnumerable<ClassLibrary.DtoModels.UnitDto>

@{
    ViewData["Title"] = "MemberUnits";
}

<h1>@ViewBag.MemberName's Units</h1>


<p>
        

        @if (!this.User.IsInRole("CondoMember"))
        {
             @if (this.User.IsInRole("CondoManager"))
             {
                 <a asp-action="Create" class="btn btn-success" asp-route-memberId="@ViewBag.MemberId">Add Unit</a>
             }
            

             <a asp-controller="CondoMember" asp-action="Index" class="btn btn-outline-primary">Back to Condo Members</a>
        }
    
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CondominiumDto)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Door)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bedrooms)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.CondominiumDto.CondoName)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Floor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Door)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bedrooms)
                </td>
                <td>
                    @if (this.User.IsInRole("CondoManager"))
                    {
                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id" asp-route-memberId="@ViewBag.MemberId">Edit</a>
                    }
                    
                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id" asp-route-memberId="@ViewBag.MemberId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

