@model IEnumerable<ClassLibrary.DtoModels.MessageDto>

@{
    ViewData["Title"] = "SentMessages";
}

<h1>Sent Messages</h1>

@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessageTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessageContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiverEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiverEmail)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table> *@

<table class="table">
    <thead>
        @if ((Model != null && !Model.Any()) || Model == null)
        {
            <tr>
                <th>
                    No messages
                </th>
            </tr>
        }
        else
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MessageTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SenderEmail)
                </th>
                <th></th>
            </tr>
        }
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                @if (item.SenderEmail == this.User.Identity.Name)
                {
                    <tr class="message-row" data-message-id="@item.Id" style="cursor: pointer;">
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostingDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MessageTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SenderEmail)
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<div class="d-flex justify-content-between mt-3">
    <a asp-controller="Message" asp-action="Index" class="btn btn-secondary">Inbox</a>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".message-row").click(function () {
                var messageId = $(this).data("message-id");
                window.location.href = "/Message/Details/" + messageId;
            });
        });
    </script>
}
